[submodule "gnome-terminal-colors-monokai"]
	path = gnome-terminal-colors-monokai
	url = git://github.com/pricco/gnome-terminal-colors-monokai.git
[submodule "monokai-gnome-terminal"]
	path = monokai-gnome-terminal
	url = https://github.com/cemmanouilidis/monokai-gnome-terminal.git
[submodule "gnome-monokai"]
	path = gnome-monokai
	url = https://github.com/derrickdominic/gnome-terminal-colors-monokai.git
